$white: white;
$black: black;
$Onyx: #353839;
$gray: gray;
$Maize: #42224a;
$MetallicSunburst: #a88734;
$MetallicSunburst2 : #9c7e31;
$SpanishBistre: #846a29;
$ChineseBlack: #111;
$grey2: #bdbdbd;
$gold: gold;
$lightgreen: lightgreen;
$lightgray: lightgray;
$darkgray: darkgray;
$grey: grey;
$AntiFlashWhite: #f3f3f3;
$Gainsboro: #dddddd;
$Charcoal: #37475A;
$Independence: #485769;
$EerieBlack: #131A22;
$EerieBlack2: #131921;
$Peru: #cd9042;
$Tangerine: #f08804;
$Linen: #faf0e6;
$BrightGray: #EAEDED;
$bodyBackground: #f0f0f0;
$profileBackground: #f7f4f7;
$inputBorderClr: #8f659a;
$boxShadowClr: rgba(0, 0, 0, 0.219);